.list {
  clear:none;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  padding-bottom: 15px;
  padding-top: 5px;
}

.page-container {
  padding: 15px;
}

.dashboard-border {
  padding: 15px;
  border-style: solid;
  border-width:1px;
  border-radius: 20px;
  background-color: #fff;
}

.col-sm-12 {
  border-style: solid;
  border-width:1px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.li {
  background-color: #FFF238;
}

.add {
  color: green;
}

.remove {
  color: red;
}

.form-inline {
  width:100%;
}

.vertical-mid {
  vertical-align:middle;
}
