.col-sm-4 {
  clear:none;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
  padding-bottom: 20px;
  padding-top: 5px;
}
.col-sm-12 {
  border-style: solid;
  border-width:1px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.add {
  border-color: blue;
}

.remove {
  border-color: red;
}

.form-inline {
  width:100%;
}

.vertical-mid {
  vertical-align:middle;
}
