<div class="dashboard-border">
  <div class="row">
    <div class="col-sm-11">
      <h3 href="#" style="border-bottom: none"editable-text="dashboardObject.dName" e-style="color: green" e-required e-placeholder="Enter dashboard name">
        {{ (dashboardObject.dName || 'empty') }}
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 list" ng-repeat-start="list in lists">
      <div class="row">
        <div class="col-sm-12" style="background-color: #FFFCDE">
          <div class="row">
            <div class="col-xs-10">
              <h3> {{ list.name }} </h3>
            </div>
            <div class="col-xs-2 h3">
              <button class="btn btn-default btn-sm pull-right vertical-mid" ng-click="removeList($index)">
                <span class="glyphicon glyphicon-trash remove" aria-hidden="true">
              </button>
            </div>
          </div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="element in list.elements" style="background-color: #fff">
              <div class="row">
                <div class="col-xs-10">
                  <h5> {{element}} </h5>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-default btn-sm pull-right" ng-click="deleteItem($parent.$index, $index)">
                    <span class="glyphicon glyphicon-remove remove" aria-hidden="true">
                  </button>
                </div>
              </div>
             </li>
          </ul>
          <div class="row">
            <div class="col-xs-12">
              <form class="form" ng-submit="addItem($index)">
                <div class="input-group input-group-md">
                  <input type="text" name="input" class="form-control input-md" placeholder="Add Item" ng-model="list.textToAdd">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default btn-md">
                      <span class="glyphicon glyphicon-plus add" aria-hidden="true">
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix visible-block-sm" ng-if="($index + 1) % 3 == 0" ng-repeat-end>
    </div>
    <div class="col-sm-4 list">
      <h3>Add new list</h3>
      <form class="form" ng-submit="addList()">
        <div class="input-group input-group-lg">
          <input type="text" name="input" class="form-control input-lg" placeholder="Enter new list name" ng-model="newListTextAdd">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-plus add" aria-hidden="true">
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
